@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?xpz7ci');
    src:    url('fonts/icomoon.eot?xpz7ci#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?xpz7ci') format('truetype'),
        url('fonts/icomoon.woff?xpz7ci') format('woff'),
        url('fonts/icomoon.svg?xpz7ci#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-with-circle:before {
    content: "\e900";
}
.icon-google-with-circle:before {
    content: "\e901";
}
.icon-instagram-with-circle:before {
    content: "\e902";
}
.icon-linkedin-with-circle:before {
    content: "\e903";
}
.icon-pinterest-with-circle:before {
    content: "\e904";
}
.icon-twitter-with-circle:before {
    content: "\e905";
}
.icon-youtube-with-circle:before {
    content: "\e906";
}
.icon-cloud:before {
    content: "\e600";
}
.icon-area-graph:before {
    content: "\e602";
}
.icon-blackboard:before {
    content: "\e603";
}
.icon-line-graph:before {
    content: "\e605";
}
.icon-link:before {
    content: "\e606";
}
.icon-paper-plane:before {
    content: "\e607";
}
.icon-shop:before {
    content: "\e608";
}
.icon-google:before {
    content: "\e60b";
}
.icon-instagram:before {
    content: "\e60c";
}
.icon-twitter:before {
    content: "\e60e";
}
.icon-chevron-thin-down:before {
    content: "\e611";
}
.icon-google2:before {
    content: "\e60f";
}
.icon-linkedin:before {
    content: "\e610";
}
.icon-chevron-thin-left:before {
    content: "\e613";
}
.icon-chevron-thin-right:before {
    content: "\e614";
}
.icon-cross:before {
    content: "\e615";
}
.icon-image:before {
    content: "\e617";
}
.icon-link2:before {
    content: "\e616";
}
.icon-youtube:before {
    content: "\e618";
}
.icon-lab:before {
    content: "\e604";
}
.icon-satellite:before {
    content: "\e60a";
}
.icon-rocket:before {
    content: "\e60d";
}
.icon-social-facebook:before {
    content: "\e609";
}
.icon-devices:before {
    content: "\e0a1";
}
.icon-phone_iphone:before {
    content: "\e120";
}
.icon-tv:before {
    content: "\e12e";
}
.icon-filter_drama:before {
    content: "\e172";
}
.icon-email:before {
    content: "\e04c";
}
.icon-phone:before {
    content: "\e057";
}
.icon-now_widgets:before {
    content: "\e0ad";
}
.icon-dashboard:before {
    content: "\e286";
}
.icon-play_circle_outline:before {
    content: "\e01d";
}
.icon-close:before {
    content: "\e209";
}
.icon-schedule:before {
    content: "\e2c9";
}
.icon-share:before {
    content: "\e601";
}
.icon-search:before {
    content: "\e612";
}
.icon-printer:before {
    content: "\e954";
}
.icon-warning:before {
    content: "\ea07";
}

